body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

header { 
    display: flex; 
    justify-content: space-between;

    background-color: lightpink;
    margin: 0px;
    padding: 2%;
}

h1 {
    font-size: x-large;
    background-color: aquamarine;
    border-radius: .5rem;
    padding: .5rem;
}

h2 {
    font-size: xx-large;
    background-color: aquamarine;
    border-radius: .5rem;
    padding: .5rem;
}

button {
    border: none;
    background-color: teal;
    padding: .5rem; 
    color: navajowhite;
    border-radius: .5rem;
    margin: .5rem;
}

.center-content {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

#init-btn {
    margin-top: 5vh;
}

ul li {
    list-style: none;
}